<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2018 Pingan, Inc. All Rights Reserved.
  -->

<configuration>

    <jmxConfigurator/>
    
    <property name="LOG_FILE" value="${LOG_PATH}/spring.log"/>
    <property name="INSURANCE_LOG_FILE" value="${LOG_PATH}/spring-insurance.log"/>
    <property name="ADDITIONAL" value="%X{REQUEST_ID} %X{TRACE_ID}"/>
    <property name="LOG_LEVEL_PATTERN" value="tenant-web %5p ${ADDITIONAL}"/>
    
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    
    <appender name="FILE"
              class="com.pingan.haofang.common.web.logback.EARollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <!-- 如果按天来回滚，则最大保存时间为30天，30天之前的都将被清理掉 -->
            <maxHistory>30</maxHistory>
            <!-- 日志总保存量为10GB -->
            <totalSizeCap>10 GB</totalSizeCap>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!--文件达到 最大128MB时会被压缩和切割 -->
                <maxFileSize>128 MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    
    <appender name="INSURANCE_FILE"
              class="com.pingan.haofang.common.web.logback.EARollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${INSURANCE_LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${INSURANCE_LOG_FILE}.%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <!-- 如果按天来回滚，则最大保存时间为30天，30天之前的都将被清理掉 -->
            <maxHistory>60</maxHistory>
            <!-- 日志总保存量为10GB -->
            <totalSizeCap>5 GB</totalSizeCap>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!--文件达到 最大128MB时会被压缩和切割 -->
                <maxFileSize>128 MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    
    <logger name="com.pingan.haofang.leshan.web.insurance" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="INSURANCE_FILE"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="com.pingan.haofang.leshan.insurance" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="INSURANCE_FILE"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>